<div class="card">
  <div class="card-body">
		<h2 class="card-title"> {{ cardTitle }} </h2>
		<hr />
      <div class="d-flex flex-row justify-content-between bd-highlight mb-3">
        <p class="card-text"> Total Units: <strong> {{ totalUnit }} </strong> </p>
        <p class="card-text"> Total Investment: <strong> {{ totalInvestment }} </strong> </p>
    </div>
    <div class="d-flex flex-row justify-content-between bd-highlight mb-3">
      <p class="card-text"> Sold Amount: <strong> {{ soldAmount }} </strong> </p>
      <p class="card-text"> Current Amount: <strong> {{ currentAmount }} </strong> </p>
    </div>
    <div>
      Over All profit: <strong> {{overAllProfit}} </strong>
    </div>
  </div>
</div>