<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Portfolio Management</a>
    <div class="collapse d-flex justify-content-end navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button type="button" routerLink="/stock" class="btn btn-light">Add Stock</button>
        </li>
        <li class="nav-item">
          <button type="button" routerLink="/transaction" class="btn btn-light">Add Transaction</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
