<app-toolbar></app-toolbar>
<div class="row ">
  <div class="col-md-8 offset-md-2">  
    <router-outlet></router-outlet>
    <app-line [line] = "'Dashboard'" ></app-line>
    <app-card 
      [totalUnit] = "dashboard.data && dashboard.data[0].totalUnit"
      [cardTitle] = "'Dashboard'"
      [soldAmount] = "dashboard.data && dashboard.data[0].soldAmount"
      [overAllProfit] = "dashboard.data && dashboard.data[0].profit"
      [totalInvestment] = "dashboard.data && dashboard.data[0].totalInvestment"
      [currentAmount] = "dashboard.data && dashboard.data[0].currentAmount"
    ></app-card>
      <app-line [line] = "'List'" >
      </app-line>
      <table class="table table-light table-hover">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Stock Name</th>
            <th scope="col">Purchase Quantity</th>
            <th scope="col">Sales Quantity</th>
            <th scope="col">Purchase Amount</th>
            <th scope="col">Sales Amount</th>
            <th scope="col">Transaction Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let l of list?.data; let i = index" >
            <th scope="row"> {{ i+1 }} </th>
            <td> {{ l.stockName.toUpperCase() }}</td>
            <td> {{ l.purchaseQuantity }} </td>
            <td> {{ l.sellquantity }} </td>
            <td> {{ l.purchasePrice }} </td>
            <td>{{ l.sellPrice }} </td>
            <td> {{ l.transactionDate.split('T')[0] }} </td>
          </tr>
        </tbody>
      </table>
      <app-line [line] = "'Total Individual List'" >
      </app-line>
      <div *ngFor = "let i of invividualData?.data">
        <app-card 
        [totalUnit] = "i.currentAmount"
        [cardTitle] = "i.stockName.toUpperCase()"
        [soldAmount] = "i.soldAmount"
        [overAllProfit] = "i.profit"
        [totalInvestment] = "i.totalInvestment"
        [currentAmount] = "i.currentAmount"
      ></app-card>
  </div>
  </div>
</div>