<div class="card">
  <div class="card-body">
    <div class="card-title text-center">
      Add Stock
    </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Add Stcok</label>
        <input type="text" class="form-control" [(ngModel)]="stockName" id="exampleFormControlInput1" placeholder="add stock name">
      </div>
      <button type="submit"  (click)="submitStock()" class="btn btn-primary">Submit</button> 
  </div>
</div>
