/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; background-color: #f3f3f3;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
