<div class="card">
  <div class="card-body">
    <div class="card-title text-center">
      Add Transaction
    </div>
      <div class="mb-3">
        <select class="form-select form-control form-select-lg mb-3"  [(ngModel)] = "stockName" aria-label="Default select example">
        <option selected  *ngFor="let s of stock.data"> {{ s.stockName }} </option>
      </select>
      </div>
      <div class="mb-3">
        <select class="form-select form-control form-select-lg mb-3" [(ngModel)] = "transactionType" aria-label="Default select example">
        <option selected > Buy </option>
        <option selected > Sell </option>
      </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quantity</label>
        <input type="text" class="form-control" [(ngModel)]="quantity"  id="exampleFormControlInput1" placeholder="add stock name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Selling/Buying Price</label>
        <input type="text" class="form-control" [(ngModel)]="price" id="exampleFormControlInput2" placeholder="add stock name">
      </div>
      <button type="submit" (click) = "submitData()" class="btn btn-primary">Submit</button>
  </div>
</div>